article#info.page
  #questions
    h3 Current questions
    ul
      - for poll in polls
        - for p in poll
          li 
            a(href="/#{p.token}")= p.question
    form#add-question(action="/admin/#{adminKey}/polls/add",method="post")
      input#question-text(name="question")
      button#create Create
  #filter
    h3 Current filter
    p= filter