header.bar
  h1.home apoll-oh!
  .order-by
    span 
      a#sign-up(href="/signup") sign up

article#info.page
  .tag-line You tweet the question<br/>We gather the results
  #questions
    h3 The latest questions
    ul
      - for poll in polls
        - for p in poll
          li 
            a(href="/#{p.token}")= p.question

