header.bar
  h1.home apoll-oh!
  .order-by
    span 
      a#sign-up(href="/signup") sign up

article#info.page
  .tag-line You tweet the question<br/>We gather the results

  #questions
    h3 The latest questions
    ul
      - each poll in polls
        li 
          a(href="/#{poll.token}")= poll.question

