header.bar
  h1#question Who do you think will win the #scottishpremierleague next season?
  .order-by
    span Ordered 
      a#change-order(href="/orderby") by tweets
#results
  table
    thead
      tr
        th
        th # Tweets
    tfoot
      tr
        th total
        td#total= results.total
    tbody
      - each result in results
        tr
          th #rangers
          td 45

