header.bar
  h1 Who do you think will win the #scottishpremierleague next season?
  a.order-by(href="/orderby") by tweets
#results
  table
    thead
      tr
        th
        th # Tweets
    tfoot
      tr
        th total
        td 134
    tbody
      tr
        th #rangersfc
        td 45
      tr
        th #rangers
        td 40
      tr
        th #heartsfc
        td 30
      tr
        th #celticfc
        td 23
      tr
        th #rangersfc
        td 45
      tr
        th #rangers
        td 40
      tr
        th #heartsfc
        td 30
      tr
        th #celticfc
        td 23
      tr
        th #rangersfc
        td 45
      tr
        th #rangers
        td 40
      tr
        th #heartsfc
        td 30
      tr
        th #celticfc
        td 23
      tr
        th #rangersfc
        td 45
      tr
        th #rangers
        td 40
      tr
        th #heartsfc
        td 30
      tr
        th #celticfc
        td 23
      tr
        th #rangersfc
        td 45
      tr
        th #rangers
        td 40
      tr
        th #heartsfc
        td 30
      tr
        th #celticfc
        td 23
      tr
        th #rangersfc
        td 45
      tr
        th #rangers
        td 40
      tr
        th #heartsfc
        td 30
      tr
        th #celticfc
        td 23
      tr
        th #rangersfc
        td 45
      tr
        th #rangers
        td 40
      tr
        th #heartsfc
        td 30
      tr
        th #celticfc
        td 23
      tr
        th #rangersfc
        td 45
      tr
        th #rangers
        td 40
      tr
        th #heartsfc
        td 30
      tr
        th #celticfc
        td 23
      tr
        th #rangersfc
        td 45
      tr
        th #rangers
        td 40
      tr
        th #heartsfc
        td 30
      tr
        th #celticfc
        td 23
      tr
        th #rangersfc
        td 45
      tr
        th #rangers
        td 40
      tr
        th #heartsfc
        td 30
      tr
        th #celticfc
        td 23
      tr
        th #rangersfc
        td 45
      tr
        th #rangers
        td 40
      tr
        th #heartsfc
        td 30
      tr
        th #celticfc
        td 23
  ul
    each tweet in tweets
      li.tweet tweet
      
