header.bar
  h1#question Who do you think will win the #scottishpremierleague next season?
  .order-by
    span Ordered 
      a#change-order(href="/orderby") by tweets
#results
  table
    thead
      tr
        th
        th # Tweets
    tfoot
      tr
        th total
        td#total= results.total
    tbody
      tr
        th #rangersfc
        td 45
      tr
        th #rangers
        td 40
      tr
        th #heartsfc
        td 30
      tr
        th #celticfc
        td 23
      tr
        th #rangersfc
        td 45
      tr
        th #rangers
        td 40
      tr
        th #heartsfc
        td 30
      tr
        th #celticfc
        td 23
      tr
        th #rangersfc
        td 45
      tr
        th #rangers
        td 40
      tr
        th #heartsfc
        td 30
      tr
        th #celticfc
        td 23
      tr
        th #rangersfc
        td 45
      tr
        th #rangers
        td 40
      tr
        th #heartsfc
        td 30
      tr
        th #celticfc
        td 23
      tr
        th #rangersfc
        td 45
      tr
        th #rangers
        td 40
      tr
        th #heartsfc
        td 30
      tr
        th #celticfc
        td 23
      tr
        th #rangersfc
        td 45
      tr
        th #rangers
        td 40
      tr
        th #heartsfc
        td 30
      tr
        th #celticfc
        td 23
      tr
        th #rangersfc
        td 45
      tr
        th #rangers
        td 40
      tr
        th #heartsfc
        td 30
      tr
        th #celticfc
        td 23
      tr
        th #rangersfc
        td 45
      tr
        th #rangers
        td 40
      tr
        th #heartsfc
        td 30
      tr
        th #celticfc
        td 23
      tr
        th #rangersfc
        td 45
      tr
        th #rangers
        td 40
      tr
        th #heartsfc
        td 30
      tr
        th #celticfc
        td 23
      tr
        th #rangersfc
        td 45
      tr
        th #rangers
        td 40
      tr
        th #heartsfc
        td 30
      tr
        th #celticfc
        td 23
      tr
        th #rangersfc
        td 45
      tr
        th #rangers
        td 40
      tr
        th #heartsfc
        td 30
      tr
        th #celticfc
        td 23
      
