article#info.page
  .question
    h3 I've received a tweet with an apoll-oh! link, what do I do?
    p Retweet don't reply! 
    p Just replace the existing answer with your answer. 
    p Say you receive a tweet like:
    p.tweet apolloh.com/CD34 When using apoll-oh!, how do you feel? #stupendous
    p If you also feel stupendous while using apoll-oh!, then simply retweet. But should you feel just marvelous then tweet:
    p.tweet apolloh.com/CD34 When using apoll-oh!, how do you feel? #marvelous
    p apoll-oh! is keeping an eye on all the tweets with this question and is collating the answers for display at apolloh.com/CD34
    p.warning Don't change the question. apoll-oh! is waiting for answers the the question.
    p.warning Don't change the link. Although apoll-oh! doesn't need the link to capture answers, it provides other respondents the link to the results. And to these instructions!

  .question
    h3 What is apoll-oh!?
    p We have funny feeling that twitter users may want to find out what other users feel about stuff. apoll-oh! is our first attempt at finding out.
    p So, if you tell apoll-oh! to look for a particular question on twitter, it will. It will pull out all the answers to the question and collate them for you.
    
  .question
    h3 How should I phrase my answer?
    p We prefer #hashtags - doesn't everybody? apoll-oh! doesn't really care but we find people tend to gather around hashtags and clump their answers in nice tidy bundles.

  .question
    h3 How should I phrase my question?
    p Try to guide respondants to short answers. Start off with 'In a hashtag,' or '#IAH'.
    p Also, try not to offend people - please. If you are finding it difficult to hold back, try repeating this 5 times - "I know some people just aren't as fantastic as me but I will try to forgive them."

  .question
    h3 apoll-oh! is pants/ugly/stoopid/boring/pointless/etc.
    p Oh! Sorry about that. <a href="javascript:UserVoice.showPopupWidget();" title="Yummy! More feedback please.">Tell us more</a> - ranting will help you feel better.
    p Remember apoll-oh! is still an ickle tiny baby and not truly ready for the big wide world yet. However we are looking for responsible adults to nuture apoll-oh! through its infancy. If you'd like to help us, pop over <a href="javascript:UserVoice.showPopupWidget();" title="Yummy! Me likes feedback">here</a>.

