article#info.page
  .question
    h3 I've received a tweet with an apoll-oh! link, what do I do?
    p You can answer the question by tweeting your response. Just replace the existing answer with your answer. 
    p Say you receive a tweet like:
    p.tweet apolloh.com/CD34 When using apoll-oh!, how do you feel? #stupendous
    p If you also feel stupendous while using apoll-oh!, then simply retweet. But should you feel just marvelous then tweet:
    p.tweet apolloh.com/CD34 When using apoll-oh!, how do you feel? #marvelous
    p apoll-oh! is keeping an eye on the tweets with this question and collates the answer for display at apolloh.com/CD34
    p.warning Don't change the question. apoll-oh! is waiting for answers the the question.
    p.warning Don't change the link. Although apoll-oh! doesn't need the link to capture answers, it provides other respondents the link to the results. And to these instructions!

  .question
    h3 What is apoll-oh!?
    p If you tell apoll-oh! to look for a particular question on twitter, it will. It will pull out all the answers to the question and collate them for you.
    
  .question
    h3 How should I phrase my answer?
    p We prefer #hashtags - doesn't everybody? apoll-oh! doesn't really care but we find people tend to gather around hashtags and clump their answers in nice tidy bundles.
    p Try not to offend people - please.

  .question
    h3 How do I ask my question?
    p apoll-oh! is still an ickle tiny baby and not ready for the big wide world yet. However we are looking for responsible adults to nuture apoll-oh! through its infancy. If you'd like to help us, pop over here and register.

  .question
    h3 How long are the questions opens for?
    p apoll-oh! gathers answers on a question for 24 hours.
