header.bar
  h1#question New question
article#results.page
  #form
    p Just type in your question and click 'Create'
    form#add-question(action="/polls/create",method="post")
      textarea#question-text(name="question",placeholder="Your question")
      input#create(name="create",type="submit",value="Create")
